{% extends "layout.html" %}
{% block title %}
  Search Books
{% endblock %}
{% block style %}
<style type="text/css">
 body{
  align-items: center;
 }
</style>
{% endblock %}
{% block body %}
<form class="form-search" action="{{ url_for('search') }}" method="POST">
     <div class="text-center mb-4">
      <!-- <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
       <h1 class="h3 mb-3 font-weight-normal">Search books by</h1>
       {% if error_message %}
          <div class="alert alert-dark" role="alert">
              {{error_message}}
          </div>
        {% endif %}
     </div>

       <div class="form-label-group">
               <input type="text" id="inputISBN" name="isbn" class="form-control" placeholder="ISBN" autofocus>
               <label for="inputISBN">ISBN</label>
        </div>

        <div class="form-label-group">
              <input type="text" id="inputTitle" name="title" class="form-control" placeholder="Title" autofocus>
              <label for="inputTitle">Title</label>
       </div>

       <div class="form-label-group">
             <input type="text" id="inputAuthor" name="author" class="form-control" placeholder="Author" autofocus>
             <label for="inputAuthor">Author</label>
       </div>


     <button class="btn btn-lg btn-dark btn-block" type="submit">Search Books</button>
     <!--<p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>-->
   </form>

{% if books: %}
<hr/>
<div class="table-responsive">
    <h1>Results Found:</h1>
  <table class="table table-striped">
   <thead>
     <tr>
       <th scope="col">ISBN</th>
       <th scope="col">Title</th>
       <th scope="col">Detail</th>
     </tr>
   </thead>
   <tbody>
  {% for book in books %}
     <tr>
       <th scope="row">{{book.isbn}}</th>
       <td>{{book.title}}</td>
       <td><a target="_blank" href="{{ url_for('book',book_id=book.id)}}">show detail</a></td>
     </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endif %}

{% endblock %}
